body {
    font-family: Montserrat, sans-serif; /* Change the font-family to Montserrat */
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 200px;
    background-image: url('https://wallpapercave.com/wp/wp8946405.jpg');
    background-size: cover;
  }

  h1 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
    font-size: 18px;
  }

  .container {
    margin-left: 460px;
    margin-top: 460px;
    max-width: 400px;
    padding: 15px;
    background-color: #3771ed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, background-color 0.3s;

  }

  .container:hover
  {
    transform: scale(1.1);

  }