<!DOCTYPE html>
<html>
<head>
    <title>Authentication-Portal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
    <h1>WELCOME TO RAO ATHAR'S WEBSITE</h1>
    <a class="admin-button" href="{{ url_for('users') }}"><strong>Admin</strong></a>
    <div class="buttons">
        <a class="button" href="{{ url_for('register') }}"  style="margin-left: 10px;">Register</a>
        <a class="button" href="{{ url_for('login') }}"     style="margin-left: 40px;">Login</a>
    </div>
</body>
</html>


