<!DOCTYPE html>
<html>
<head>
  <title>Registeration Successful</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="{{ url_for('static', filename='registration_success.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
  <div class="container">
    <h1>REGISTERATION SUCCESSFUL</h1>
    <p>You have successfully registered yourself.</p>
  </div>
</body>
</html>
